.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

mat-icon
    cursor: default

#forgotWrapper
    width: 100%
    text-align: center
    font-size: 0.7em
    color: #989898
    :hover
        font-size: 1.1em
        cursor: pointer
        color: #62628a

#forgotError
    width: 100%
    text-align: center
    font-size: 0.7em
    color: #red
