<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
	<form name="authForm" #authForm="ngForm" class="main-content">
		<!--email input-->
		<mat-form-field>
			<input type="email" name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email"
				required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

			<mat-error *ngIf="inEmail.invalid && (inEmail.dirty || inEmail.touched)">
				<div *ngIf="inEmail.errors.required">
					Required field
				</div>
				<div *ngIf="inEmail.errors.pattern">
					Email must be something like: name@server.com
				</div>
			</mat-error>
		</mat-form-field>

		<!--user name input-->
		<mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
			<input name="authUserName" type="text" [(ngModel)]="userName" #upNickname="ngModel" matInput
				placeholder="Username" required minlength="3" pattern="^[a-zA-Z][a-zA-Z0-9& _-]{1,}[a-zA-Z0-9]$">

			<mat-error *ngIf="upNickname.invalid && (upNickname.dirty || upNickname.touched)">
				<div *ngIf="upNickname.errors.required">
					Required field
				</div>
				<div *ngIf="upNickname.errors.pattern">
					At least 3 letters, digits and symbols - & _
				</div>
			</mat-error>
		</mat-form-field>

		<!--password input-->
		<mat-form-field>
			<input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
				[type]="hidePass ? 'password' : 'text'" placeholder="Password" minlength="8" required
				pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
			<mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>

			<mat-error *ngIf="upPassword.invalid && (upPassword.dirty || upPassword.touched)">
				<div *ngIf="upPassword.errors.required">
					Required field
				</div>
				<div *ngIf="upPassword.errors.pattern">
					Minimum 8 characters, one letter and one number
				</div>
			</mat-error>
		</mat-form-field>

	</form>
</div>
<div class="actions">
	<button mat-raised-button (click)="close()">Back</button>
	<button mat-raised-button color="primary"
		(click)="data.dialogType === dialogType.SignUp ? signUp(authForm) : signIn(authForm)">{{title}}</button>
</div>
<div id="forgotWrapper" *ngIf="data.dialogType === dialogType.SignIn">
	<a id="forgot" (click)="resetPassword()">Forgot a password?</a>
</div>
<mat-error *ngIf="isPasswordReset">
	<div id="forgotError">
		Fill in the email field and we send you email with instructions
	</div>
</mat-error>