<mat-card style="background-color: #f4f4f4;">
	<mat-card-header>
		<img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
		<mat-card-title>{{comment.author.userName}} </mat-card-title>
		<div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
	</mat-card-header>

	<mat-card-content>
		<p *ngIf="!isCommentEdit">{{comment.body}}</p>
		<!--Update comment section-->
		<div *ngIf="isCommentEdit" class="new-comment">
			<textarea [(ngModel)]="comment.body" matInput placeholder="Comment it..."
				style="color: #0d6e00;"></textarea>
			<button mat-icon-button color="primary" matTooltip="Update comment" style="margin-left:40%;"
				(click)="updateComment()">
				<mat-icon aria-label="Update comment">edit</mat-icon>Update
			</button>
		</div>
		<!--end updat comment section-->
	</mat-card-content>

	<mat-card-actions class="actions-buttons" align="end">
		<button mat-icon-button color="primary" (click)="likeComment(true)">
			<mat-icon matTooltip="Like this comment" matBadge="{{likes}}" matBadgeColor="accent"
				[matBadgeHidden]="likes === 0" aria-label="Like">
				thumb_up
			</mat-icon>
		</button>
		<button mat-icon-button color="primary" (click)="likeComment(false)">
			<mat-icon matBadge="{{dislikes}}" matBadgeColor="warn" [matBadgeHidden]="dislikes === 0"
				aria-label="Dislike" matTooltip="Dislike this comment">
				thumb_down</mat-icon>
		</button>
		<button mat-icon-button color="primary">
			<mat-icon aria-label="Share" matTooltip="Share this comment">share</mat-icon>
		</button>
	</mat-card-actions>

	<div *ngIf="currentUser">
		<mat-divider></mat-divider>
		<mat-card-footer style="text-align: center;" align="start">
			<button mat-icon-button color="basic" (click)="whoLikedComment(true)">
				<mat-icon aria-label="Who liked" matTooltip="Who liked a comment">trending_up</mat-icon>
			</button>
			<button mat-icon-button color="basic" (click)="whoLikedComment(false)">
				<mat-icon aria-label="Who liked" matTooltip="Who disliked a comment">trending_down</mat-icon>
			</button>
			<button *ngIf="currentUser && (currentUser.id === comment.author.id)" matTooltip="Edit a comment"
				mat-icon-button color="basic" (click)="showCommentEditor(comment)">
				<mat-icon aria-label="Edit comment">edit</mat-icon>
			</button>
			<button *ngIf="currentUser && (currentUser.id === comment.author.id)" matTooltip="Delete a comment"
				mat-icon-button color="basic" (click)="deleteComment(comment)">
				<mat-icon aria-label="Delete comment">delete</mat-icon>
			</button>
		</mat-card-footer>
	</div>

</mat-card>