<mat-card class="main-content align-center">
	<div *ngIf="loading" class="mat-spinner-wrapper">
		<mat-spinner></mat-spinner>
	</div>
	<div class="avatar-container" (click)="file.click()">
		<input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
		<img class="avatar avatar-style" src="{{user.avatar}}" alt="Here should be an avatar">
		<div class="img-text">
			Upload
		</div>

	</div>
	<form name="userForm" #userForm="ngForm" class="main-content">
		<!--email input-->
		<mat-form-field>
			<input name="email" [(ngModel)]="user.email" #email="ngModel" matInput placeholder="Email" required
				pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

			<mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
				<div *ngIf="email.errors.required">
					Required field
				</div>
				<div *ngIf="email.errors.pattern">
					Email must be something like: name@server.com
				</div>
			</mat-error>
		</mat-form-field>

		<!--username input-->
		<mat-form-field>
			<input name="username" [(ngModel)]="user.userName" #username="ngModel" matInput placeholder="Username"
				required minlength="3" pattern="^[a-zA-Z][a-zA-Z0-9& _-]{1,}[a-zA-Z0-9]$">

			<mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
				<div *ngIf="username.errors.required">
					Required field
				</div>
				<div *ngIf="username.errors.pattern">
					At least 3 letters, digits and symbols - & _
				</div>
			</mat-error>
		</mat-form-field>
	</form>
	<div class="buttons">
		<button mat-raised-button color="primary" (click)="saveNewInfo(userForm)">
			Save
		</button>
		<button mat-raised-button (click)="goBack()">
			Back
		</button>
	</div>
</mat-card>