<mat-card class="main-content align-center">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <div class="avatar-container">
        <img class="avatar avatar-style" src="{{user.avatar}}" alt="Here should be an avatar">
    </div>
    <form name="userForm" #userForm="ngForm" class="main-content">

        <!--new pasword input-->
        <mat-form-field>
            <input name="newPassword" [(ngModel)]="newPassword" #ngNewPassword="ngModel" matInput
                [type]="hidePass ? 'password' : 'text'" placeholder="New password" minlength="8" required
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>

            <mat-error *ngIf="ngNewPassword.invalid && (ngNewPassword.dirty || ngNewPassword.touched)">
                <div *ngIf="ngNewPassword.errors.required">
                    Required field
                </div>
                <div *ngIf="ngNewPassword.errors.pattern">
                    Minimum 8 characters, one letter and one number
                </div>
            </mat-error>
        </mat-form-field>

        <!--new pasword input-->
        <mat-form-field>
            <input name="newPasswordConfirm" [(ngModel)]="newPasswordConfirm" #ngNewPasswordConfirm="ngModel" matInput
                [type]="hidePass ? 'password' : 'text'" placeholder="New password" minlength="8" required
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" (keyup)="onChangeConfirm()">
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div class="error" *ngIf="!confirmed && (ngNewPasswordConfirm.dirty || ngNewPasswordConfirm.touched)">
            Passwords aren't equal!
        </div>
    </form>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="saveNewPassword(userForm)">
            Save
        </button>
        <button mat-raised-button (click)="goBack()">
            Back
        </button>
    </div>
</mat-card>