<mat-card [ngClass]="{'post-with-comments': showComments}" style="background-color: #f4f4f4;">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>

  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost(true)">
      <mat-icon matBadge="{{likes}}" matBadgeColor="accent" matBadgeSize="medium" [matBadgeHidden]="likes === 0"
        aria-label="Like" matTooltip="Like this post">thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost(false)">
      <mat-icon matBadge="{{dislikes}}" matBadgeColor="warn" matBadgeSize="medium" [matBadgeHidden]="dislikes === 0"
        aria-label="Dislike" matTooltip="Dislike this post">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Share" matTooltip="Share this post" (click)="sharePost(post)">share</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Copy link" matTooltip="Copy the post link" (click)="copyLink(post.id)">file_copy</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)=" toggleComments()">
      <mat-icon matTooltip="Show/Hide comments" matBadge="{{post.comments.length}}" matBadgeColor="accent"
        matBadgeSize="medium" [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>

  <div *ngIf="currentUser">
    <mat-divider></mat-divider>
    <mat-card-footer style="text-align: center;">
      <button mat-icon-button color="basic" (click)="whoLikedPost(true)">
        <mat-icon aria-label="Who liked" matTooltip="Who liked a post">trending_up</mat-icon>
      </button>
      <button mat-icon-button color="basic" (click)="whoLikedPost(false)">
        <mat-icon aria-label="Who liked" matTooltip="Who disliked a post">trending_down</mat-icon>
      </button>
      <button *ngIf="currentUser && (currentUser.id === post.author.id)" matTooltip="Edit a post" mat-icon-button
        color="basic" (click)="onEditPost(post)">
        <mat-icon aria-label="Edit post">edit</mat-icon>
      </button>
      <button *ngIf="currentUser && (currentUser.id === post.author.id)" matTooltip="Delete a post" mat-icon-button
        color="basic" (click)="onDeletePost(post)">
        <mat-icon aria-label="Edit post">delete</mat-icon>
      </button>
    </mat-card-footer>
  </div>

  <div *ngIf="showComments">
    <br>
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"
      (onEditComment)="updateComment($event)" (onDeleteComment)="deleteComment($event)"></app-comment>
  </div>
</mat-card>
