mat-card-header {
    margin: 0px;
	padding: 0.1em 0em 0.1em 0.3em;
    display: flex;
    align-items: center;
}
mat-card-header p {
	margin-top: 0.55em;
	font-size: 1.3em;
	font-weight: 500;
	color: #484848;
}

mat-card-avatar {
	margin: 0px;
	padding: 0px;
	height: 0.3em;
	width: 0.3em;
}

.userlist {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.userlist li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    border-radius: 0.5rem;
  }
