<h3 mat-dialog-title>Users who <b>{{reaction === true ? 'liked' : 'disliked'}}</b> the post:</h3>

<mat-dialog-content class="mat-typography">
    <ul *ngIf="users.length !== 0" class="userlist">
        <li *ngFor="let user of users">
            <mat-card-header>
                <img mat-card-avatar src="{{user.avatar ? user.avatar : '../../../assets/no-avatar.png'}}" alt="Avatar">
                <p>{{user.userName}}</p>
            </mat-card-header>
        </li>
    </ul>
    <ul *ngIf="users.length === 0" class="userlist">
        <li>
            <mat-card-header>
                <img mat-card-avatar src="../../../assets/sad-smile.png" alt="Avatar">
                <p>Nobody {{reaction === true ? 'liked' : 'disliked'}} this post yet</p>
            </mat-card-header>
        </li>
    </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()" cdkFocusInitial>Close</button>
</mat-dialog-actions>