.actions {
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
}
.actions button {
    width: 100px;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#error {
    color: rgb(255, 82, 82);
    font-size: 0.8em;
}