<h2 mat-dialog-title class="title">Tell me a receiver's email</h2>

<div mat-dialog-content>
    <form name="authForm" #form="ngForm" class="main-content">
        <mat-form-field>
            <input name="email" [(ngModel)]="inputData" #inEmail="ngModel" matInput placeholder="Email" required
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <mat-error *ngIf="inEmail.invalid && (inEmail.dirty || inEmail.touched)">
                <div *ngIf="inEmail.errors.required">
                    Required field
                </div>
                <div *ngIf="inEmail.errors.pattern">
                    Email must be something like: name@server.com
                </div>
            </mat-error>
        </mat-form-field>
    </form>
</div>

<br>
<div class="actions">
    <button mat-raised-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="accept(form)">Send</button>
</div>